{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https:/use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <aside>
        <img src="{% static 'main/img/Hezarfen-Space-Logo.png' %}" alt="Logo">
        <span class="logo">
            Daniel
        </span>
        <h3>Navigation</h3>

        {% if user.is_authenticated %}
        <li>
            User: {{ user.get_username }}
            {% if user.is_staff %}
                (Staff)
            {% endif %}
        </li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
            {% if user.is_staff %}
                    {% if perms.catalog.can_mark_returned %}
                         <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
                    {% endif %}
            {% endif %}
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}


        {% block sidebar %}
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Home page</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-user-secret"></i> About page</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fab fa-telegram-plane"></i> News page</li></a>
            <a href="{% url 'library_home' %}"><li><i class="fas fa-book-open"></i> Library</li></a>
            <a href="{% url 'contacts' %}"><li><i class="fas fa-address-book"></i> Contacts</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"> <i class="fas fa-address-book"></i> Create news</button></li></a>
            <a href="{% url 'admin' %}"><li>Admin panel</li></a>
        </ul>
        {% endblock %}
    </aside>

    <main>
        {% block content%}
        {% endblock %}
       {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
    </main>

</body>
</html>